@import url("fontawesome-all.min.css");

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: url("https://pbs.twimg.com/profile_banners/1452043552150761474/1635032568/1500x500"); }

.container {
  background: #222;
  position: relative;
  resize: both;
  overflow: auto;
  width: 600px;
  height: 450px; }

.browser-frame {
  position: relative;
  padding: 95px 0 55px 0;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border-image-slice: 171 57 57 515 fill; }

.browser-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-image: url(https://pbs.twimg.com/media/FFKflwPXwAAld6N?format=png&name=900x900);
  border-image-slice: 171 57 57 515 fill;
  border-image-width: 170px 56px 57px 515px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  pointer-events: none; }

.center {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0); }

main {
  padding: 10px 0;
  background: #222;
  text-align: center;
  color: lawngreen;
  height: 100%;
  overflow: auto;
  text-transform: uppercase; }

.couldnt-do-this-in-the-90s {
  display: flex;
  align-items: center;
  justify-content: center; }
  .couldnt-do-this-in-the-90s img {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 20px; }

h1 {
  margin: 0; }

img {
  width: 6%;
  height: auto; }

.img2 {
  width: 35%; }

.img3{
  width: 45%; }

.img4{
  width: 20%; }

table, td {
  margin: 20px auto;
  border: outset 1px lawngreen;
  color: red;
  padding: 2px; }

td {
  padding: 3px 10px; }

a {
  color: red; }

#drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 85px; }

.resize-handle {
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0;
  bottom: 0;
  top: auto !important;
  left: auto !important;
  margin-top: -22px;
  margin-left: -22px;
  width: 20px;
  height: 20px;
  cursor: nw-resize !important; }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
